{
  "ignore": ["node_modules/**"],
  "env": {
    "development": {
      "presets": [["env", { "modules": false }], "react"],
      "plugins": [
        "external-helpers",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    }
  }
}
